<div class="container">
    <% @albums.each do |album| %>
        <div class="borderbox">
             <% @users.each do |user| %>
                <% if user["id"] == album["id"]%>
                        <%= link_to user_path(user['id']) do %>
                            <h1>Full name: <%= user["name"] %></h1>
                        <%end %>
                <% end %>
            <% end %>
            <div><h4>Album name: <%= link_to album["title"], album_path(album['id'])%></h4></div>
            <%  @photos.each do |photo|%>
                <% if photo["albumId"] == album["id"] %>
                    <%= image_tag photo["thumbnailUrl"] %>
                    <% break %>     
                <% end %>    
            <% end %>
            <div></div>      
        </div>  
    <% end %>
</div>
