<h1>Albums</h1>
<% @albums.each do |album| %>
    <div><%= link_to album["userId"], users_path %></div>
    <div><%= album["id"] %></div>
    <div><%= link_to album["title"], album_path %></div>
    <hr>
<% end %>

